/* Variables */

$primary-color-1: #333;
$primary-color-2: #6bad0d;
$primary-color-3: #f9f9f9;
$primary-color-4: #aaa;
$primary-color-5: #fff;
$primary-color-6: #000;
$primary-color-7: #ececec;
$primary-color-8: #ccc;
$primary-color-9: #dedede;
$primary-color-10: #3b5998;
$primary-color-11: #4285f4;
$primary-color-12: #ddd;
$primary-color-13: #f5f5f5;
$primary-color-14: #efefef;
$primary-color-15: #0099cc;
$primary-color-16: #ff0000;
$primary-color-17: #999999;
$primary-color-18: #ff3300;
$primary-color-19: #fafafa;
$primary-color-20: #ededed;

$border-radius-1: 5px;
$border-radius-2: 10px;
$border-radius-3: 50%;
