@import "../../../../App.scss";

.cart-description {
  position: relative;
  width: 100%;
  height: auto;
  &__top-list {
    width: 100%;
    @include list-style;
    justify-content: center;
    padding: 10px 0;
    margin-bottom: 30px;
  }
  &__top-item {
    width: auto;
    margin: 0 20px;

    &:nth-child(1) {
      p {
        opacity: 1;
      }
    }
  }
  &__top-tit {
    font-size: 31px;
    font-weight: 600;
    line-height: 31px;
    color: $primary-color-1;
    opacity: 0.5;
    cursor: pointer;
  }
  &__main-text {
    font-size: 15px;
    line-height: 25px;
    color: $primary-color-1;
    margin-bottom: 20px;
  }
  &__imgs {
    width: 100%;
    height: 663px;
    margin-bottom: 40px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__bottom-list {
    width: 100%;
    @include list-style;
    padding: 15px 0;
    border-top: 1px solid $primary-color-7;
    border-bottom: 1px solid $primary-color-7;
    margin-bottom: 50px;
  }
  &__bottom-item {
    margin-right: 10px;
  }
  &__bottom-tit {
    font-size: 15px;
    line-height: 15px;
    color: $primary-color-1;
    span {
      font-weight: 500;
      margin-left: 5px;
    }
  }
}
