@font-face {
  font-family: "Arial";
  src: url("./ARIALLGT.TTF") format("woff2"), url("./ARIALLGT.TTF") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("./ARIAL.TTF") format("woff2"), url("./ARIAL.TTF") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("./ArialMdm.ttf") format("woff2"), url("./ArialMdm.ttf") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("./ARIALBD\ 1.TTF") format("woff2"), url("./ARIALBD\ 1.TTF") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("./ARIBLK.TTF") format("woff2"), url("./ARIBLK.TTF") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
