@font-face {
  font-family: "Helvetica";
  src: url("./Helvetica.ttf") format("woff2"), url("./Helvetica.ttf") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica";
  src: url("./helvetica-light-587ebe5a59211.ttf") format("woff2"),
    url("./helvetica-light-587ebe5a59211.ttf") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica";
  src: url("./Helvetica-Oblique.ttf") format("woff2"), url("./Helvetica-Oblique.ttf") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica";
  src: url("./Helvetica-Bold.ttf") format("woff2"), url("./Helvetica-Bold.ttf") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica";
  src: url("./Helvetica-BoldOblique.ttf") format("woff2"), url("./Helvetica-BoldOblique.ttf") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
