@import "../../../App.scss";

.products {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 30px;

  &__inner {
    position: relative;
    width: 100%;
  }
  &__top {
    width: 100%;
    margin-bottom: 20px;
  }
  &__title {
    font-size: 31px;
    line-height: 36px;
    text-align: center;
    color: $primary-color-1;
    margin-bottom: 15px;
  }
  &__categor-list {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
  }
  &__categor-item {
    margin-right: 40px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    opacity: 0.5;

    &:nth-child(5) {
      margin-right: 0;
    }
    &:hover {
      opacity: 1;
    }
    img {
      width: 42px;
      height: 42px;
      object-fit: cover;
      margin-bottom: 10px;
    }
    p {
      font-size: 17px;
      line-height: 25px;
      font-weight: 500;
      color: $primary-color-1;
    }
  }
  &__produc-list {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    @include list-style;
    margin-left: -15px;
    margin-right: -15px;
  }
  &__produc-item {
    position: relative;
    width: 285px;
    height: 425px;
    margin: 10px 5px;
    transition: all 0.5s ease;
    cursor: pointer;

    &:hover {
      .products__produc-item-box {
        box-shadow: 0 0 10px #00000036;
        z-index: 20;
      }
      .products__produc-img-slider-btn-left,
      .products__produc-img-slider-btn-right {
        opacity: 1;
      }
      .products__produc-hover-icons-list {
        top: 80%;
      }
    }
  }
  &__produc-item-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 305px;
    height: 100%;
    padding: 15px;
    background: $primary-color-5;
    transition: all 0.2s ease;
    z-index: 10;
  }
  &__produc-img-box {
    position: relative;
    width: 275px;
    height: 307px;
    margin-bottom: 18px;
    overflow: hidden;
    transition: all 0.2s ease;
  }
  &__produc-img-list {
    width: 100%;
    height: 100%;
    @include list-style;
    transition: all 0.5s ease;
  }
  &__produc-img-item {
    position: relative;
    min-width: 280px;
    height: 307px;
    a {
      text-decoration: none;
      display: inline-block;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__produc-img-slider-btn-left,
  &__produc-img-slider-btn-right {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border: none;
    padding: 14px 4px;
    font-size: 28px;
    line-height: 25px;
    color: $primary-color-1;
    background: $primary-color-5;
    transition: all 0.3s ease;
    z-index: 1;
    opacity: 0;
  }
  &__produc-img-slider-btn-right {
    right: 0;
  }
  &__produc-discount {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 5;
    font-size: 15px;
    line-height: 20px;
    padding: 2px 10px;
    color: $primary-color-5;
    background: $primary-color-2;
    border-radius: $border-radius-1;
    opacity: 0.7;
  }
  &__produc-heart-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    font-size: 20px;
    line-height: 20px;
    color: $primary-color-1;
    background: transparent;
    transition: all 0.2s ease;
    z-index: 5;

    &:active {
      transform: scale(1.4);
    }
  }
  &__produc-hover-icons-list {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, 0);
    width: auto;
    height: auto;
    @include list-style;
    background: $primary-color-9;
    box-shadow: 0 5px 15px 0 #00000026;
    transition: all 0.3s ease;
  }
  &__produc-hover-icons-item {
    &:nth-child(2) {
      padding: 0 1px;
    }
  }
  &__produc-hover-icons-btn {
    border: none;
    width: 45px;
    height: 45px;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary-color-1;
    background: $primary-color-5;
    img {
      width: 20px;
      height: 20px;
      object-fit: cover;
    }
  }
  &__produc-desc {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    a {
      text-decoration: none;
      display: inline-block;
    }
  }
  &__produc-name {
    font-size: 18px;
    line-height: 17px;
    margin-bottom: 12px;
    color: $primary-color-1;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      color: $primary-color-2;
    }
  }
  &__produc-price {
    font-size: 16px;
    line-height: 15px;
    color: $primary-color-1;
    cursor: pointer;

    span {
      font-size: 15px;
      color: $primary-color-4;
      text-decoration: line-through;
    }
  }
  &__produc-weight-list {
    @include list-style;
  }
  &__produc-weight-item {
    margin-left: 10px;
    overflow: hidden;
    border-radius: $border-radius-1;
    border: 1px solid $primary-color-7;
    cursor: pointer;

    img {
      width: 26px;
      height: 20px;
      object-fit: cover;
    }
  }
}
.categorAct {
  opacity: 1;
  border-bottom: 2px solid $primary-color-1;
}
.produc-weight-item-act {
  border: 1px solid $primary-color-17;
}
.pIAnimList {
  animation: listanim 0.5s both ease;
}
@keyframes listanim {
  15% {
    opacity: 0;
  }
  50% {
    transform: translateY(25px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
